# Hugo build output
public/

# Hugo resource cache
resources/

# Hugo build lock
.hugo_build.lock

#Other hugo cruft
content/guides/_pending-paths.txt

# OS noise
.DS_Store
Thumbs.db

#Word lock files
writing/guides/~$*.docx

